<div class="limiter">
  <div class="container-login100" style="background-image: url('./assets/images/bg-101.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <form class="login100-form validate-form" (ngSubmit)="onSubmit(register)" #register="ngForm">

        <span class="login100-form-title p-b-49">
          Registration
        </span>

        <div class="wrap-input100 validate-input m-b-23" data-validate="Name is required">
          <span class="label-input100">Name</span>
          <input class="input100" type="text" placeholder="Type your Name" id="Name" name="Name" #name="ngModel"
            [(ngModel)]="registration.name" required pattern="[a-zA-Z]{3,}">
          <span class="focus-input100" data-symbol="&#xf206;"></span>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is Required :: Only Alphabates
            Allowed </div>
        </div>

        <div class="wrap-input100 validate-input m-b-23" data-validate="Location is required">
          <span class="label-input100">Location</span>
          <input class="input100" type="text" placeholder="Type your Location" id="location" name="location"
            #location="ngModel" [(ngModel)]="registration.location" required pattern="[a-zA-Z ]{3,}">
          <span class="focus-input100" data-symbol="&#xf206;"></span>
          <div [hidden]="location.valid || location.pristine" class="alert alert-danger">Location is Required :: Only
            Alphabates Allowed </div>
        </div>

        <div class="wrap-input100 validate-input m-b-23" data-validate="BloodGroup is required">
          <span class="label-input100">Blood Group</span>
          <input class="input100" type="text" placeholder="Type your Blood Group" id="bloodGroup" name="bloodGroup"
            #bloodGroup="ngModel" [(ngModel)]="registration.bloodGroup" required pattern="[a-zA-Z0-9._%+-]{1,}">
          <span class="focus-input100" data-symbol="&#xf206;"></span>
          <div [hidden]="bloodGroup.valid || bloodGroup.pristine" class="alert alert-danger">Blood Group is Required ::
            Format - O+ve </div>
        </div>


        <div class="wrap-input100 validate-input m-b-23" data-validate="Mobile Number is required">
          <span class="label-input100">Mobile Number</span>
          <input type="text" class="input100" placeholder="Type your Mobile Number" id="phoneNo" name="phoneNo"
            #phoneNo="ngModel" [(ngModel)]="registration.phoneNo" required pattern="[6789][0-9]{9}">
          <span class="focus-input100" data-symbol="&#xf206;"></span>
          <div [hidden]="phoneNo.valid || phoneNo.pristine" class="alert alert-danger">Enter Valid Mobile Number </div>
        </div>

        <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
          <span class="label-input100">Password</span>
          <input type="password" class="input100" placeholder="Type your Password" id="password" name="password"
            #password="ngModel" [(ngModel)]="registration.password" required
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
          <span class="focus-input100" data-symbol="&#xf206;"></span>
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger"> Must contain at least one
            number
            and one uppercase and lowercase letter, and at least 8 or more characters</div>
        </div>

        <div class="wrap-input100 validate-input m-b-23" data-validate="Conform password is required">
          <span class="label-input100">Conform Password</span>
          <input type="password" class="input100" placeholder="Retype your Password" id="cpassword" name="cpassword"
            #cpassword="ngModel" [(ngModel)]="registration.cpassword" required pattern="{{registration.password}}">
          <span class="focus-input100" data-symbol="&#xf206;"></span>
          <div [hidden]="cpassword.valid || cpassword.pristine" class="alert alert-danger">Passwords do not match</div>
        </div>

        <div class="wrap-input100 validate-input m-b-23" data-validate="Email is required">
          <span class="label-input100">Email</span>
          <input type="email" class="input100" placeholder="Type your Email" id="email" name="email" #email="ngModel"
            [(ngModel)]="registration.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <span class="focus-input100" data-symbol="&#xf206;"></span>
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">Email Format (Eg: abc@xyz.com)</div>
        </div>

        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit" [disabled]=!register.valid class="login100-form-btn">
              Register
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>