<div class="limiter">
  <div class="container-login100" style="background-image: url('./assets/images/bg-101.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">


      <form class="example-form" (ngSubmit)="onSubmit(register)" #register="ngForm">

        <label>Enter Your Name : </label><br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Favorite food" type="text" placeholder="Type your Name" id="Name" name="Name" #name="ngModel"
          [(ngModel)]="registration.name" required pattern="[a-zA-Z]{3,}">
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">Name is Required :: Only Alphabates
              Allowed</div>
        </mat-form-field><br>

        <label>Enter Your Location : </label><br>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Type your Location" id="location" name="location"
          #location="ngModel" [(ngModel)]="registration.location" required pattern="[a-zA-Z ]{3,}">
          <div [hidden]="location.valid || location.pristine" class="alert alert-danger">Location is Required :: Only
              Alphabates Allowed </div>
        </mat-form-field><br>

        <label>Enter Your Blood Group : </label><br>
        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Type your Blood Group" id="bloodGroup" name="bloodGroup"
          #bloodGroup="ngModel" [(ngModel)]="registration.bloodGroup" required pattern="[a-zA-Z0-9._%+-]{1,}">
          <div [hidden]="bloodGroup.valid || bloodGroup.pristine" class="alert alert-danger">Blood Group is Required ::
              Format - O+ve </div>
        </mat-form-field><br>

        <label>Enter Your Phone Number : </label><br>
        <mat-form-field class="example-full-width">
          <input matInput  type="text" placeholder="Type your Mobile Number" id="phoneNo" name="phoneNo"
          #phoneNo="ngModel" [(ngModel)]="registration.phoneNo" required pattern="[6789][0-9]{9}">
          <div [hidden]="phoneNo.valid || phoneNo.pristine" class="alert alert-danger">Enter Valid Mobile Number</div>
        </mat-form-field><br>

        <label>Enter Your Email : </label><br>
        <mat-form-field class="example-full-width">
          <input matInput type="email"  placeholder="Type your Email" id="email" name="email" #email="ngModel"
          [(ngModel)]="registration.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <div [hidden]="email.valid || email.pristine" class="alert alert-danger">LEmail Format (Eg: abc@xyz.com)</div>
        </mat-form-field><br>

        <label>Enter Your Password : </label><br>
        <mat-form-field class="example-full-width">
          <input matInput type="password" placeholder="Type your Password" id="password" name="password"
          #password="ngModel" [(ngModel)]="registration.password" required
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
          <div [hidden]="password.valid || password.pristine" class="alert alert-danger">Must contain at least one
              number
              and one uppercase and lowercase letter, and at least 8 or more characters </div>
        </mat-form-field><br>

        <label>Conform Your Password : </label><br>
        <mat-form-field class="example-full-width">
          <input matInput  type="password"  placeholder="Retype your Password" id="cpassword" name="cpassword"
          #cpassword="ngModel" [(ngModel)]="registration.cpassword" required pattern="{{registration.password}}">
          <div [hidden]="cpassword.valid || cpassword.pristine" class="alert alert-danger">Passwords does not match</div>
        </mat-form-field><br>
      
        <button type="submit" [disabled]=!register.valid>
            Register
          </button>

      </form> 

    </div>
      
      
  </div>
</div>