<nav class="navbar navbar-expand-lg navbar-light " style="background-color: burlywood;">
		<label style="font-family: 'Times New Roman', Times, serif;"><b>Infinite blood, Inc.</b></label> 
		<a class="navbar-brand" href="#">
			<img src="./assets/images/donor.jpg" alt="">
		  </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				<a class="nav-link" href="openpage"> Home &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> <span class="sr-only">(current)</span></a>
			  </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  <li class="nav-item active">
				<a class="nav-link" href="about"> About Us &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon></a>
			  </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  <li class="nav-item active">
				<a class="nav-link" href="facts"> Facts About Blood Donation &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">menu_book</mat-icon></a>
			  </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			  <li class="nav-item active">
				  <a class="nav-link" href="faq"> FAQ &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">question_answer</mat-icon></a>
				</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<li class="nav-item active">
					<a class="nav-link" href="contact"> Contact us &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">call</mat-icon></a>
				  </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</ul>
		  </div>
		  <button mat-button [matMenuTriggerFor]="menu">Click here for Login</button>
		  <mat-menu #menu="matMenu">
			<button mat-menu-item><a href="login">User</a></button>
			<button mat-menu-item><a href="adminlogin">Admin</a></button>
		  </mat-menu>    
		</nav>

<div class="limiter">
	<div class="container-login100" style="background-image: url('./assets/images/bg-101.jpg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
			<form class="example-class" (ngSubmit)="checkLogin(login)" #login="ngForm">

				<h2>
					Hearty Welcome
				</h2>
				<br>
				<h3>
					User Login
				</h3>

				<br>

				<mat-form-field class="example-full-width">
						<ng-template >Mobile Number</ng-template>
					<input class="input100" matInput type="text" name="username" placeholder="Type your username" id="username"
					#username="ngModel" [(ngModel)]="login.username" required pattern="[6789][0-9]{9}">
						<div [hidden]="username.valid || username.pristine" class="alert alert-danger">Enter Valid Mobile Number :: Number from 0-9 and Should be 10 digits</div> 
				</mat-form-field><br><br>

				<mat-form-field class="example-full-width">
					<input class="input100" matInput type="password" name="password" placeholder="Type your password" id="password"
					#password="ngModel" [(ngModel)]="login.password" required  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
						<div [hidden]="password.valid || password.pristine" class="alert alert-danger">Must contain at least one
							number
							and one uppercase and lowercase letter, and at least 8 or more characters </div>
				</mat-form-field>

				<div class="text-right p-t-8 p-b-31">
					<a href="resetuser">
						Forgot password?
					</a>
				</div>

				
						<button type="submit" [disabled]=!login.valid mat-stroked-button>
							Login
						</button>
						&nbsp;&nbsp;&nbsp;
						<button mat-stroked-button><a href="openpage">Back</a></button>
			

				<div class="flex-col-c p-t-55">
					<h4>If you want to be a Donor</h4>
					<br>
					<a routerLink="/registration" class="txt2">
						Sign Up
					</a>
					<br>
					<h6>It's Free !!</h6>
				</div>
			</form>
		</div>
	</div>
</div>