h4 {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
  }

h6{
    font-family: "Times New Roman", Times, serif;
    font-style: italic;   
}

h2{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic; 
}

h3
{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-style: italic; 
}