<nav class="navbar navbar-expand-lg navbar-light " style="background-color: burlywood;">
    <label style="font-family: 'Times New Roman', Times, serif;"><b>Infinite blood, Inc.</b></label> 
    <a class="navbar-brand" href="#">
        <img src="./assets/images/donor.jpg" alt="">
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="openpage"> Home &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> <span class="sr-only">(current)</span></a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item active">
            <a class="nav-link" href="about"> About Us &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">people</mat-icon></a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item active">
            <a class="nav-link" href="facts"> Facts About Blood Donation &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">menu_book</mat-icon></a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item active">
              <a class="nav-link" href="faq"> FAQ &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">question_answer</mat-icon></a>
            </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item active">
                <a class="nav-link" href="contact"> Contact us &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">call</mat-icon></a>
              </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="nav-item active">
                  <a class="nav-link" href="facebook"> Share &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">share</mat-icon></a>
                </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
            </ul>
      </div>
      <button mat-button [matMenuTriggerFor]="menu">Click here for Login</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><a href="login">User</a></button>
        <button mat-menu-item><a href="adminlogin">Admin</a></button>
      </mat-menu>    
    </nav>
  

<div class="limiter">
    <div class="container-login100" style="background-image: url('./assets/images/bg-00.jpg');">

<mat-card>    
     <h4 style="font-family: Georgia, 'Times New Roman', Times, serif;">Contact</h4><br>
       <p style="font-family: Georgia, 'Times New Roman', Times, serif; font-size: larger; align-self: center;">
      
          <b>Administration Office</b><br><br>
          INFINITE Blood Bank, Inc.<br>
          New No.6, Old No.8, Near ITPL Back gate<br>
          II nd Street, WhiteField<br>
          Bangalore-500056<br>
          Karnataka.<br>
          Ph: 044-24526589<br>
          Email:ifc@gmail.com<br><br>
      </p>   
    </mat-card>

    </div>
</div>