<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="txt2" href="firstpage">Welcome {{user}} <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="firstpage">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="request">Blood Request <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="logout">Logout</a>
      </li>

    </ul>

  </div>
</nav>

<!-- ---------------------------------------------------------------
--------------------------------------------------------------- -->

<div class="limiter">
  <div class="container-login100" style="background-image: url('./assets/images/bg-101.jpg');">
<!-- 
    <div class="container">
      <div class="row">
        <div class="search-list">
          <label>Filter</label>
          <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Search by Location">
        </div>

        <table class="table table-striped" border="2">

          <th>Patient ID</th>
          <th>Patient Name</th>
          <th>Location</th>
          <th>Blood Group</th>
          <th>Mobile Number</th>
          <th>Preference</th>

          <tr *ngFor="let pats of donarList | filter:searchText">
            <td>{{pats.patientId}}</td>
            <td>{{pats.name}}</td>
            <td>{{pats.location}}</td>
            <td>{{pats.bloodGroup}}</td>
            <td>{{pats.phoneNo}}</td>
            <td><button (click)="donate(pats)" type="submit" class="btn btn-success">Donate</button></td>

          </tr>

        </table> -->

        <div fxLayout fxLayoutAlign="center center">
          <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
  
  
          <table mat-table [dataSource]="pats" matSort class="mat-elevation-z8" >
    
    
            <ng-container matColumnDef="patientId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient ID  </th>
              <td mat-cell *matCellDef="let element"> {{element.patientId}} </td>
            </ng-container>
        
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>
        
            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
              <td mat-cell *matCellDef="let element"> {{element.location}} </td>
            </ng-container>
        
            <ng-container matColumnDef="bloodGroup">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Blood Group </th>
              <td mat-cell *matCellDef="let element"> {{element.bloodGroup}} </td>
            </ng-container>
        
            <ng-container matColumnDef="phoneNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
              <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
            </ng-container>
          
          
                                  <!-- buttons -->
          
              <ng-container  matColumnDef="donate">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"><button  mat-raised-button
                  matTooltip="Donate" (click)="donate(element)" mat-mini-fab color="primary"> Donate </button> </td>
              </ng-container>
          
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <!-- Angular 8 pagination -->
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

      </div>
    </div>