<nav class="navbar navbar-expand-lg navbar-light " style="background-color: burlywood;">
    <label style="font-family: 'Times New Roman', Times, serif;"><b>Infinite blood, Inc.</b></label> 
    <a class="navbar-brand" href="firstpage">
        <img src="./assets/images/donor.jpg" alt="">
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="navbar-brand" href="firstpage">Welcome : <br> {{user}} <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="firstpage"> Home &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> <span class="sr-only">(current)</span></a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item active">
            <a class="nav-link" href="request"> Blood Request &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">opacity</mat-icon></a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         </ul>
      </div>
      <button mat-button [matMenuTriggerFor]="menu">Click here for Logout</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><a href="logout">Logout</a></button>
      </mat-menu>    
    </nav>
<!-- ---------------------------------------------------------------
--------------------------------------------------------------- -->

<div class="limiter">
  <div class="container-login100" style="background-image: url('./assets/images/bg-101.jpg');">


        <div fxLayout fxLayoutAlign="center center">
          <mat-form-field fxFlex="40%">
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
  
  
          <table mat-table [dataSource]="pats" matSort class="mat-elevation-z8" >
    
    
            <ng-container matColumnDef="patientId">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient ID  </th>
              <td mat-cell *matCellDef="let element"> {{element.patientId}} </td>
            </ng-container>
        
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}}</td>
            </ng-container>
        
            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
              <td mat-cell *matCellDef="let element"> {{element.location}} </td>
            </ng-container>
        
            <ng-container matColumnDef="bloodGroup">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Blood Group </th>
              <td mat-cell *matCellDef="let element"> {{element.bloodGroup}} </td>
            </ng-container>
        
            <ng-container matColumnDef="phoneNo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
              <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
            </ng-container>
          
          
                                  <!-- buttons -->
          
              <ng-container  matColumnDef="donate">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element"><button  mat-raised-button
                  matTooltip="Donate" (click)="donate(element)" mat-stroked-button color="primary"> Donate </button> </td>
              </ng-container>
          
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <!-- Angular 8 pagination -->
            <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

      </div>
    </div>