<nav class="navbar navbar-expand-lg navbar-light " style="background-color: burlywood;">
    <label style="font-family: 'Times New Roman', Times, serif;"><b>Infinite blood, Inc.</b></label> 
    <a class="navbar-brand" href="firstpage">
        <img src="./assets/images/donor.jpg" alt="">
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a class="navbar-brand" href="firstpage">Welcome : <br> {{user}} <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
      </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="firstpage"> Home &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> <span class="sr-only">(current)</span></a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item active">
            <a class="nav-link" href="request"> Blood Request &nbsp;<mat-icon aria-hidden="false" aria-label="Example home icon">opacity</mat-icon></a>
          </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         </ul>
      </div>
      <button mat-button [matMenuTriggerFor]="menu">Click here for Logout</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item><a href="logout">Logout</a></button>
      </mat-menu>    
    </nav>
<!-- ---------------------------------------------------------------
--------------------------------------------------------------- -->

<div class="limiter">
  <div class="container-login100" style="background-image: url('./assets/images/bg-101.jpg');">
    <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
      <div>
        <div style="text-align: center;">
          <h3><strong>Confirm Your Details </strong></h3>
        </div>
        <br>
        <br>
        <div>
          <form action="action_page.php" name="confir" (ngSubmit)="onSubmit(confirm)" #confirm="ngForm">
            <div align="center">
              <table class="table table-striped" border="2">
                <tr class="form-group">
                  <th>Patient ID</th>
                  <td class="form-control">{{donars.patientId}}</td>
                </tr>
                <tr class="form-group">
                  <th>Name</th>
                  <td class="form-control">{{donars.name}}</td>
                </tr>
                <tr class="form-group">
                  <th>Phone No</th>
                  <td class="form-control">{{donars.phoneNo}}</td>
                </tr>
                <tr class="form-group">
                  <th>Location</th>
                  <td class="form-control">{{donars.location}}</td>
                </tr>
              </table>
              <br>
              <br>
              <div><button type="button" type="submit" [disabled]=!confirm.valid mat-stroked-button>Confirm</button>
              </div>
              <br>
              <br>
              <button align="center" mat-stroked-button><a routerLink="/firstpage">Back</a></button>
            </div>
          </form>
          <div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>