table {
    width: 100%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

    .mat-cell, .mat-header-cell {
    background-color: burlywood;
}
.mat-stroked-button
{
    background-color: burlywood;
}

.mat-paginator
{
  background-color: burlywood;
}